# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
backend/venv/
.env
*.env

# Editor
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node / React
node_modules/
dist/

# Env
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
